/* Chrome, Safari and Opera syntax */

:-webkit-full-screen {
  background-color: white:
}

/* Firefox syntax */
:-moz-full-screen {
  background-color: yellow;
}

/* IE/Edge syntax */
:-ms-fullscreen {
  background-color: yellow;
}

/* Standard syntax */
:fullscreen {
  background-color: white:
}

body {
  background-image: url("../images/landscape.jpg");
  background-color: black;
  height: 100%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  font-color: white;
}

span {
  padding: .2em;
}

.row {
  border: 1em solid rgba(255,255,255,.8);
  border-radius: 25px;
  padding-bottom: 0%;
  margin: 1%;
}

#clock {
  font-size: 2em;
  text-align: center;
  color: white;
}